<!DOCTYPE html>
<html>

<!-- Suure fondiga -->

<head>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/Suur.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/Times.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/Github.css">

</head>

<body>
  
  <div id='Tekst'>      
    {{ content }}
  </div>
  
</body>

</html>